**/nesemu/target/*
.vscode/settings.json
nesemu/out.log
nesemu/nestest/out.log
nesemu/background.ppm
nesemu/roms/donkeykong.nes
nesemu/out_center.txt
nesemu/out_first.txt
nesemu/out_nonzero.txt
nesemu/trace_long.txt
background.ppm
